@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fernando Cruz Test App</h1>
    <h4>Prueba Técnica a desarrollar:</h4>
    <h6>
Se desea tener el control de todos los clientes pertenecientes a la empresa X, donde cada cliente puede tener N cantidad de direcciones. Con sus conocimientos de desarrollo se solicita crear una solución informática para este problema.</h6>
    <p>Learn about <a href="https://www.oriontek.do">OrionTek</a>.</p>
</div>
